# <font color='#31394d'> Logistic Regression Practice Exercise </font>

For this exercise we are going to use the heart dataset to predict whether or not someone will get a heart attack. You can read more about the dataset here: https://archive.ics.uci.edu/ml/datasets/Heart+Disease). The dataset is provided as a csv file in the `data` folder. 

ðŸš€ <font color='#d9c4b1'> Exercise: </font> Start by reading in the dataset from the `data` folder and having a look at the data. Don't forget to import the necessary packages!

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
heart_dataset = pd.read_csv('./data/heart.csv')

In [3]:
heart_dataset.head()

   X1  X2  X3   X4   X5  X6  X7   X8  X9  X10  X11  X12      Y
0  63   1   1  145  233   1   2  150   0  2.3    3  0.0  False
1  67   1   4  160  286   0   2  108   1  1.5    2  3.0   True
2  67   1   4  120  229   0   2  129   1  2.6    2  2.0   True
3  37   1   3  130  250   0   0  187   0  3.5    3  0.0  False
4  41   0   2  130  204   0   2  172   0  1.4    1  0.0  False

In [4]:
heart_dataset.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,54.528428,0.675585,3.160535,131.668896,247.100334,0.147157,0.996656,149.505017,0.327759,1.051839,1.602007,0.672241
std,9.020950,0.468941,0.962893,17.705668,51.914779,0.354856,0.994948,22.954927,0.470183,1.163809,0.617526,0.937438
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,242.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.500000,0.000000,2.000000,165.500000,1.000000,1.600000,2.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

ðŸš€ <font color='#d9c4b1'> Exercise: </font> Now standardize the features. You can learn more about standardization in the `Logistic Regression.ipynb` notebook that we used during the session!

In [6]:
# standardize the features so that they have a mean of 0 and a standard deviation of 1
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(heart_dataset.drop('Y',axis=1))
scaled_features = scaler.transform(heart_dataset.drop('Y',axis=1))

ðŸš€ <font color='#d9c4b1'> Exercise: </font> Fit a standard logistic regression model and determine which features look most promising.

In [7]:
# Fit a standard logistic regression model and determine which features look most promising
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(scaled_features,heart_dataset['Y'])

LogisticRegression()

ðŸš€ <font color='#d9c4b1'> Exercise: </font> Fit another model that includes only the features that you think look promising. Use cross validation and the accuracy, precision, and recall scoring metrics to determine which model is best.

In [8]:
# show relationship between each feature and the target variable Y
coeff_df = pd.DataFrame(logmodel.coef_,columns=heart_dataset.columns[:-1])
coeff_df

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12
0,-0.06124,0.852118,0.640117,0.435613,0.284215,-0.293796,0.16021,-0.489033,0.517593,0.319926,0.412589,1.111139

In [9]:
logmodel1 = LogisticRegression()
# use X2, X3, X9, X4 as features to fit the model and predict Y
logmodel1.fit(scaled_features[:,[1,2,8,3]],heart_dataset['Y'])

LogisticRegression()

In [10]:
# use cross validation, accuracy, precision, recall, and F1 score to determine which model is better between logmodel and lognodel1
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
cross_val_score(logmodel, scaled_features, heart_dataset['Y'], cv=10)
cross_val_score(logmodel1, scaled_features[:,[1,2,8,3]], heart_dataset['Y'], cv=10)

0.7529885057471264

In [11]:
np.mean(cross_val_score(logmodel, scaled_features, heart_dataset['Y'], cv=10))

0.805977011494253

In [12]:
np.mean(cross_val_score(logmodel1, scaled_features[:,[1,2,8,3]], heart_dataset['Y'], cv=10))

0.7529885057471264

In [15]:
# use precision score to determine which model is better between logmodel and lognodel1
precision_score(heart_dataset['Y'], logmodel.predict(scaled_features))

0.8629032258064516

In [14]:
precision_score(heart_dataset['Y'], logmodel1.predict(scaled_features[:,[1,2,8,3]]))

0.7443609022556391